/*
---------Google font---------- 
 font-family: "Roboto", sans-serif; 
 font-family: "Inter", sans-serif;
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --secondary-color: #182535;
  --link-color: #5a8dee;
  --menu-heading: 14px;
  --text-color: #677788 ;
  --body-bg: #f3f4f4;
  --card-heading-color: #516377;
  --card-body-bg: #f2f2f6;
}

/* Font family */
@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body Style */
body {
  @apply bg-(--body-bg) text-black font-inter;
}

.sub-menu {
  @apply bg-red-400;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-center-between {
  @apply flex items-center justify-between;
}

.flex-top {
  @apply flex flex-col items-center justify-items-start;
}

.bg-menu-theme {
  background-color: #182535 !important;
  color: #bec5cc;
}
@keyframes loadingSpinner {
  100% {
    transform: rotate(360deg);
  }
}

/* Fix Chrome autofill style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  font-size: 14px !important;

  -webkit-box-shadow:
    0,
    -0.2px,
    5px,
    white inset !important;
  box-shadow:
    0,
    -0.2px,
    5px,
    white inset !important;

  transition: background-color 3000s ease-in-out 0s;
}

/* Default scrollbar  */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

.toastify_toast_body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  max-width: 100%;
  font-size: medium;
  color: slategray;
  font-weight: bold;
  box-shadow: 10px -50px 10px rgba(0, 0, 0, 0.1);
  min-height: 20px !important;
}
